<h1 class="w-screen text-sky-900 font-bold text-center text-4xl p-4 mt-8">New Upload</h1>

<%= render("form.html", Map.put(assigns, :action, Routes.little_thinker_upload_path(@conn, :create, @little_thinker))) %>

<div class="flex px-28 justify-between w-screen flex-wrap">
  <div class="text-sky-900 text-lg font-semibold tracking-wide"><%= link("Back", to: Routes.little_thinker_upload_path(@conn, :index, @little_thinker)) %></div>
</div>
