<nav class="flex justify-between bg-sky-900 bg-opacity-80 rounded p-5 text-gray-900">
  <button class="font-medium text-4xl"><%= link("The Little Thinker's Space", to: Routes.page_path(@conn, :index)) %></button>
</nav>
